<div class="text-center mt-5">
  <h1>
  <%=@restaurant.name%>
  </h1>
  <div>
    <h2>Address: <%=@restaurant.address%></h2>
    <h2>Contact: <%=@restaurant.contact%></h2>
    <h2>Rating: <%= "â­" * @restaurant.rating%></h2>
  </div>
  <div class="d-inline-flex mt-5" >
    <div class="text-decoration-none mx-3"><%= link_to "Home", restaurants_path%></div>
    <div class="mx-3">
      <%= link_to "Delete #{@restaurant.name}",
                restaurant_path(@restaurant),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
    </div>
    <div class="mx-3"><%= link_to "Edit", edit_restaurant_path(@restaurant)%></div>
  </div>

</div>
